In [23]:
print("Hi!")

Hi!

## Interpretowane vs Kompilowane

## Python jest interpretowany

### How it works?

 ![interpretowany](https://miro.medium.com/max/3000/1*3Iy-ohRRXj3lChmEbQTxIQ.png)

# Typy Danych

In [24]:
x = 21 # integer
print(x)
print(type(x))
print("==========================================================================")

y = 0.3
print(y)
print(type(y))

21
<class 'int'>
==========================================================================
0.3
<class 'float'>

## Python jest dynamiczne typowany

Warto≈õci oznaczone typami

In [25]:
def fun(x, y):
    return x + y

x = "Data"
y = "Science"
print(fun(x, y))

print("==========================================================================")

x = 5
y = 7
print(fun(x, y))

DataScience
==========================================================================
12

## Typowanie jest silne

Jƒôzyk nie mo≈ºe niejawnie konwertowaƒá warto≈õci r√≥≈ºnych typ√≥w

**C++**
<br>
int a = 2;
<br>
char b = 'L'; //76 w kodzie Ascii
<br>
int c = a + b;

**Python**

In [26]:
a = 2
b = 'L'
c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Mutable vs immutable
Warto≈õci niekt√≥rych obiekt√≥w mogƒÖ ulec zmianie. Obiekty, kt√≥rych warto≈õƒá mo≈ºe ulec zmianie, sƒÖ nazywane mutable; obiekty, kt√≥rych warto≈õƒá jest niezmienna po ich utworzeniu, nazywane sƒÖ immutable.

## bool - typ logiczny bool to dwie sta≈Çe: True i False

In [27]:

a = True
print(a)
print(type(a))
print("==========================================================================")
b = False
print(b)
print(type(a))

True
<class 'bool'>
==========================================================================
False
<class 'bool'>

### Ciekawostki

* bool jest podtypem liczby ca≈Çkowitej (int)
<br>
* Funkcja *isinstance()*  zosta≈Ça zaprojektowana specjalnie w celu sprawdzenia, czy dane nale≈ºƒÖ do okre≈õlonej klasy (typu danych)
<br>
* Funkcja *issubclass()* wskazuje, czy okre≈õlona klasa jest podklasƒÖ okre≈õlonych klas.

In [28]:
print(isinstance(True, int))
print(isinstance(False, int))
print(issubclass(bool, int))

True
True
True

* True - 1
False - 0

In [29]:
x = True
y = 1
z = False
print(x + y)
print(y + z)

2
1

## int - liczby ca≈Çkowite 0,1,2,3 ...

*immutable*
<br>
<br>
W Pythonie warto≈õƒá liczby ca≈Çkowitej nie jest ograniczona liczbƒÖ bit√≥w i mo≈ºe wzrosnƒÖƒá do limitu dostƒôpnej pamiƒôci

W por√≥wnaniu do C++ int ma warto≈õci od -2147483648 do 2147483647 - 4 bajty

In [30]:
x = 78
y = -5
z = 100 ** 100
print(type(x), x)
print(type(y), y)
print(type(z), z)

<class 'int'> 78
<class 'int'> -5
<class 'int'> 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Ciekawostki

Mo≈ºna zapisaƒá te≈º w √≥semkowym, szesnastkowym i binarnym systemie liczbowym

In [31]:
x = 0x1  # szesnastkowy
y = 0o1  # √≥semkowy
z = 0b1  # binarny


print(type(x), x)
print(type(y), y)
print(type(z), z)

<class 'int'> 1
<class 'int'> 1
<class 'int'> 1

## float - liczby zmiennoprzecinkowe 0.2, 0.0003, 0.78

*immutable*
<br>
Problemy z zaokrƒÖgleniami jak we wszystkich jƒôzykach

In [32]:
x = 0.5
y = -0.5

print(type(x), x)
print(type(y), y)

<class 'float'> 0.5
<class 'float'> -0.5

In [33]:
x = 0.1 + 0.1
y = 0.1 + 0.1 + 0.1
z = 0.3
s = 0.2
print(x == s)
print("{:.20f}".format(x) )
print("{:.20f}".format(s))
print(y == z)
print("{:.20f}".format(y))
print("{:.20f}".format(z))

True
0.20000000000000001110
0.20000000000000001110
False
0.30000000000000004441
0.29999999999999998890

## string -  ciƒÖg znak√≥w

*immutable*

In [34]:
    # Apostrof
    a = 'A wewnƒÖtrz mo≈ºna umie≈õciƒá "cudzys≈Ç√≥w"'

    # Cudzys≈Ç√≥w
    b = "A wewnƒÖtrz mo≈ºna umie≈õciƒá 'apostrof'"

    #Trzy pojedyncze apostrofy. Wygodne do zapisania tekstu w kilku linijkach
    c = '''Trzy pojedyncze 
                       apostrofy'''  

    # Trzy cudzys≈Çowy. Spos√≥b na zapisanie dokumentacji
    d = """Trzy cudzys≈Çowy"""
  
    print(type(a), a)
    print(type(b), b)    
    print(type(c), c)    
    print(type(d), d)

<class 'str'> A wewnƒÖtrz mo≈ºna umie≈õciƒá "cudzys≈Ç√≥w"
<class 'str'> A wewnƒÖtrz mo≈ºna umie≈õciƒá 'apostrof'
<class 'str'> Trzy pojedyncze
                   apostrofy
<class 'str'> Trzy cudzys≈Çowy

≈ªeby odwo≈Çaƒá siƒô do poszczeg√≥lnych czƒô≈õci s≈Çowa **indeksujemy**

In [35]:
a = 'Laura jad≈Ça jab≈Çko'
print(type(a), a)
print('len(a): ', len(a)) #sprawdzanie d≈Çugo≈õci s≈Çowa
print(type(a[0]), 'a[0]: ', a[0]) # pierwszy element ma indeks 0
print('a[1]: ', a[1])
print('a[len(a) - 1]: ', a[len(a) - 1]) # ostatni element to d≈Çugo≈õƒá - 1, poniewa≈º indeksujemy od 0
print('a[-1] = a[len(a) - 1]: ', a[-1]) # indeksy ujemne liczƒÖ od ostatniego znaku
print('a[-18] = a[0]: ', a[-18])

<class 'str'> Laura jad≈Ça jab≈Çko
len(a):  18
<class 'str'> a[0]:  L
a[1]:  a
a[len(a) - 1]:  o
a[-1] = a[len(a) - 1]:  o
a[-18] = a[0]:  L

**Immutable!**

In [36]:
a = 'Laura jad≈Ça jab≈Çko'
b = a
print(id(a), a)
print(id(b), b)
a += '!'
print(id(a), a)
print(id(b), b)

2368675581744 Laura jad≈Ça jab≈Çko
2368675581744 Laura jad≈Ça jab≈Çko
2368675762560 Laura jad≈Ça jab≈Çko!
2368675581744 Laura jad≈Ça jab≈Çko

## Kahoot time!ü§Ø

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

## Question time!

1. Co znaczy, ≈ºe jƒôzyk jest dynamicznie typowany?
2. Co znaczy, ≈ºe jƒôzyk jest interpretowany? Przyk≈Çady
3. Jak sprawdziƒá, czy warto≈õƒá nale≈ºy do jakiej≈õ klasy?
4. Jak sprawdziƒá d≈Çugo≈õƒá string?
5. Jak napisaƒá wiersz w Pythonie?

## list - listy, tablice

![listy](https://static8.depositphotos.com/1002932/796/i/450/depositphotos_7964682-stock-photo-green-leaf.jpg)

*mutable*
<br>
Wszystko o listach https://docs.python.org/3/tutorial/datastructures.html

In [37]:
s = [] # pusta lista
print(s)
print(type(s))
print("len:",len(s))
print("==========================================================================")
l = [1, 2, 3, 5, 7] #lista int
print(l)
print(len(l))
print("==========================================================================")
a = [0] * 10 #lista o danym rozmiarze
print(a)
print(len(a))

[]
<class 'list'>
len: 0
==========================================================================
[1, 2, 3, 5, 7]
5
==========================================================================
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
10

In [38]:
b = list('lista')# iterowalny obiekt
print(b)
print(len(b))
print("==========================================================================")
mix = [7,'üëª','r√≥≈ºa', 3 + 2j] # w listach mo≈ºe byƒá wszystko
print(mix)
print(len(mix))
print("==========================================================================")
print(type(mix[1]), mix[1]) # indeksujemy
print("==========================================================================")

['l', 'i', 's', 't', 'a']
5
==========================================================================
[7, 'üëª', 'r√≥≈ºa', (3+2j)]
4
==========================================================================
<class 'str'> üëª
==========================================================================

**Znowy mutable vs immutable**

In [39]:
m = [1, 2, 3]
n = m

print(id(m), m)
print(id(n), n)

m.append("s≈Ço≈Ñ")

print(id(m), m)
print(id(n), n)

2368677187720 [1, 2, 3]
2368677187720 [1, 2, 3]
2368677187720 [1, 2, 3, 's≈Ço≈Ñ']
2368677187720 [1, 2, 3, 's≈Ço≈Ñ']

In [40]:
#Zeby zrobiƒá kopiƒô
more_lists = l[:] #slices
more_list2 = l.copy()

print(id(l), l)
print(id(more_lists), more_lists)
print(id(more_list2), more_list2)

2368674893896 [1, 2, 3, 5, 7]
2368675673672 [1, 2, 3, 5, 7]
2368675609096 [1, 2, 3, 5, 7]

## Slices

![slices](https://p0.pikist.com/photos/154/195/pizza-slice-of-pizza-slice-ham-cheese-top-view-motherboard-good-food-fast-food.jpg)

The syntax of slice() is: **slice(start, stop, step)**

In [1]:
l = [1, 2, 3, 5, 7]
sl = slice(1, 3, 1)

print(type(sl), sl)
print(l[sl])
print(l[1:3:1]) 
print(l)

<class 'slice'> slice(1, 3, 1)
[2, 3]
[2, 3]
[1, 2, 3, 5, 7]

In [2]:
print(l[::-1])  # odwrotna kolejno≈õƒá
print(l[::2])   # elelemty z indeksami parzystymi
print(l[:-2])   # ca≈Ça sekwencja poza ostatnimi dwoma elementami 
print(l[1::2]) # elementy z indeksami nieparzystymi

print("==========================================================================")

print(l[-1])     #ostatni element
print(l[-1:])    #ostatni element, ale ...

[7, 5, 3, 2, 1]
[1, 3, 7]
[1, 2, 3]
[2, 5]
==========================================================================
7
[7]

## Range

IstniejƒÖ 3 sposoby wywo≈Çania range()
* range(stop) 
* range(start, stop) 
* range(start, stop, step)

In [43]:
range_ = range(20)
print(type(range_),range_)
print("==========================================================================")

b = list(range(20))
c = [range(10, 20, 1)] 
a = list(range(10, 20, 1))
  
print("b:", b)
print("c:", c)
print("a:", a)

<class 'range'> range(0, 20)
==========================================================================
b: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
c: [range(10, 20)]
a: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## Kahoot time! ü§Ø
<br>
<br>
<br>
<br>
<br>
<br>
<br>

# TASK TIME! üßô‚Äç

1. Stw√≥rz listƒô liczb od 0 do 500
<br>

2. Policz sumƒô wszystkich element√≥w tej listy
<br>

3. Odwr√≥ƒá tƒô listƒô
<br>

4. Dodaj na poczƒÖtek s≈Çowo PoweR
<br>

5. Stw√≥rz listƒô parzystych liczb o d≈Çugo≈õci 50
<br>

6. Dla stringa "PoweR warsztaty i przygoda!", usu≈Ñ wszystkie litery z 6 znaku a≈º do ko≈Ñca, wy≈õwietl otrzymany string

    Oczekiwana warto≈õƒá:"PoweR "
<br>

7. Mamy 2 stringa, s1 and s2, stw√≥rz nowy string dodajƒÖc s2 w ≈õrodku s1

    Before: "Supplementary"  i "Vector"
    <br>
    After: "SupplVectorementary"
<br>
<br>

8. Policz liczbƒô wystƒÖpie≈Ñ w string = "PoweR is the best event evER" nie patrzƒÖc na wielko≈õƒá litery
<br>
    Oczekiwana warto≈õƒá :2

## Tuple - krotki

*immutable*

Tuple sƒÖ jedna z najistotniejszych struktur danych w Python

In [44]:
a = () # pusta tuple
print(type(a), a)

print("==========================================================================")

a = (1,2,3,4) #deklaracja
print(type(a), a)

print("==========================================================================")

a = 1,2,3,4 # inna deklaracja 
print(type(a), a)

print("==========================================================================")
#Wa≈ºne sƒÖ przecinki, a nie nawiasy
a = (1) #int 
print(type(a), a)

print("==========================================================================")

a = 1, #tuple z 1 elementem
print(type(a), a)
print("==========================================================================")

n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(type(n_tuple), n_tuple)

<class 'tuple'> ()
==========================================================================
<class 'tuple'> (1, 2, 3, 4)
==========================================================================
<class 'tuple'> (1, 2, 3, 4)
==========================================================================
<class 'int'> 1
==========================================================================
<class 'tuple'> (1,)
==========================================================================
<class 'tuple'> ('mouse', [8, 4, 6], (1, 2, 3))

## dict -  s≈Çowniki

![dict](https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/PL_Aleksander_Br%C3%BCckner-S%C5%82ownik_etymologiczny_j%C4%99zyka_polskiego_640.jpeg/350px-PL_Aleksander_Br%C3%BCckner-S%C5%82ownik_etymologiczny_j%C4%99zyka_polskiego_640.jpeg)

*mutable*

* S≈Çowniki idea: klucz - warto≈õƒá
    <br>
    
* Klucz tylko obiekt immutable (hashowalne)
    <br>
    
* Jeden klucz mo≈ºe mieƒá tylko jednƒÖ warto≈õƒá (je≈ºeli bƒôdzie dodane kilka par z tym samym kluczem, Python zapiszƒô ostatni)
    <br>
    
* Je≈õli chcesz zapisaƒá kolejno≈õƒá, w kt√≥rej elementy zosta≈Çy dodane do s≈Çownika, u≈ºyj collections.OrderedDict()

In [45]:
a = dict() # pusty s≈Çownik
b = {} # alternatywa na deklaracje pustego s≈Çownika
c = {'klucz': 'warto≈õƒá'}
print(type(a), a)
print(type(b), b)
print(type(c), c)

a['new_key'] = 'new_value'  # Dodajemy nowy element do s≈Çownika
a[(7, 8)] = [('a', 'b', 'c'),'ü§ñ']
print(a)
a['new_key'] = 'üëß'
print(a)

<class 'dict'> {}
<class 'dict'> {}
<class 'dict'> {'klucz': 'warto≈õƒá'}
{'new_key': 'new_value', (7, 8): [('a', 'b', 'c'), 'ü§ñ']}
{'new_key': 'üëß', (7, 8): [('a', 'b', 'c'), 'ü§ñ']}

In [46]:
print(c['nieklucz']) # je≈ºeli nie ma takiego klucza bƒôdzie error, ≈ºeby tak nie by≈Ço trzeba zdefiniowaƒá zachowanie __missing__(key)

KeyError: 'nieklucz'

In [47]:
a[[1, 2]] = 'nie dzia≈Ça'

TypeError: unhashable type: 'list'

## set - zbiory

![set](https://i2.wp.com/www.sacredgeometry.blog/wp-content/uploads/2015/02/Set-man.png?resize=300%2C622)

*mutable*

* Zbi√≥r w pythonie jest ‚Äûkontenerem‚Äù zawierajƒÖcym niepowtarzalne elementy w losowej kolejno≈õci
* Czas sprawdzenia czy jaki≈õ obiekt jest w zbiorze jest sta≈Çy,w por√≥wnaniu do listy albo krotki, w kt√≥rych czas jest liniowo zale≈ºny od liczby element√≥w

In [48]:
a = set()
print(type(a), a)
print("==========================================================================")

a = {} # nie set , a ...
print(type(a), a)
print("==========================================================================")

a = {'a', 'b', 'c', 'd'}
print(type(a), a)
print("==========================================================================")

mixed_set = {2.0, "Nicholas", (1, 2, 3)} 
print(type(mixed_set), mixed_set)

print("==========================================================================")

mixed_set.add("Katty") 
print(type(mixed_set), mixed_set)

<class 'set'> set()
==========================================================================
<class 'dict'> {}
==========================================================================
<class 'set'> {'c', 'd', 'b', 'a'}
==========================================================================
<class 'set'> {2.0, (1, 2, 3), 'Nicholas'}
==========================================================================
<class 'set'> {2.0, 'Katty', (1, 2, 3), 'Nicholas'}

In [49]:
a = {[1,2,3], [1,2,3]}

TypeError: unhashable type: 'list'

## Operatory

### Arytmetyczne
* \+ dodawanie
* \- odejmowanie
* \* mno≈ºenie
* ** potƒôgowanie
* / dzielenie -> float
* // dzielenie z zaokrƒÖgleniem do najbli≈ºszego int w d√≥≈Ç
* % reszta z dzielenia

### Por√≥wnania
* == r√≥wne co do warto≈õci
* != r√≥≈ºne co do warto≈õci
* is zwraca true, je≈õli obie zmienne sƒÖ tym samym obiektem(por√≥wnuje wyniki funkcji id (adresy obiekt√≥w w pamiƒôci))
* is not zwraca true, je≈õli obie zmienne nie sƒÖ tym samym obiektem
* < mniejsze
* \> wiƒôksze
* \>= wiƒôksze lub r√≥wne
* \<= mniejsze lub r√≥wne
* in zwraca warto≈õƒá True, je≈õli w obiekcie znajduje siƒô sekwencja o okre≈õlonej warto≈õci (np litera w stringu)
* not in czy obiekt nie jest zawarty w innym obiekcie

## Logiczne
* and 	zwraca warto≈õƒá True, je≈õli obie instrukcje sƒÖ prawdziwe	x < 5 and  x < 10	
* or	zwraca warto≈õƒá True, je≈õli jedno z wyra≈ºe≈Ñ jest prawdziwe	x < 5 or x < 4	
* not	odwraca wynik, zwraca False, je≈õli wynik jest prawdziwy not (x < 5 and x < 10)

**Trochƒô o operatorze in:**

* W listach sƒÖ przeszukiwane wszystkie elementy po kolei. Czas wyszukiwania zale≈ºy od rozmiaru listy.
* W zbiorach wyszukiwanie nie zale≈ºy od rozmiaru zbioru - jest sta≈Çe
* W s≈Çownikach wyszukiwane sƒÖ tylko klucze, czas wyszukiwania nie zale≈ºy od liczby element√≥w w s≈Çowniku. ≈örednio O(1)

**Do por√≥wnywania tylko ==**

In [50]:
x = 256
y = 256
print('id(x)', id(x))
print('id(y)', id(y))
print('x is y', x is x)
print('x == y', x == y)

print("==========================================================================")

x = 257
y = 257
print('id(x)', id(x))
print('id(y)', id(y))
print('x is y', x is y)
print('x == y', x == y)

id(x) 140730751234848
id(y) 140730751234848
x is y True
x == y True
==========================================================================
id(x) 2370821289200
id(y) 2370821290160
x is y False
x == y True

## if, elif, else
**Wciƒôcia!**

![if_](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEtFHtG2lF3MNbiG9LMgPgkyjzaVkWjiM_Jl6300LO3aHztr8C)

In [51]:
x = 10
print('przed ifem')
if x == 10:
    print('x=10')
elif x == 4:
    print('x=4')
elif x == 5:
    print('x=5')
else:
    print('else')
print('po ifie')

przed ifem
x=10
po ifie

## for, continue, break, else

In [52]:
for number in range(5): 
    print(number)

0
1
2
3
4

In [53]:
#mo≈ºemy iterowaƒá po dowolnych iterowalnych obiektach
mix = [7,'üëª','r√≥≈ºa', 3 + 2j] 
for el in mix: 
    print(el)
    
print("==========================================================================")    

for i in 'hello world':
    print(i * 2, end = '')

7
üëª
r√≥≈ºa
(3+2j)
==========================================================================
hheelllloo  wwoorrlldd

### continue -  ta instrukcja rozpoczyna nastƒôpnƒÖ obr√≥t pƒôtli, omijajƒÖc pozosta≈ÇƒÖ czƒô≈õƒá

In [54]:
for i in 'hello world':
    if i == 'o':
        continue
    print(i * 2, end = '')

hheellll  wwrrlldd

### break - przedwcze≈õnie przerywa

In [55]:
for i in 'hello world':
    if i == 'e':
        break
    print(i * 2, end = '')

hh

### else - wykona siƒô, je≈õli pƒôtla zako≈Ñczy≈Ça siƒô normalnie(nie za pomocƒÖ break)

In [56]:
for i in 'hello world':
    if i == 'a':
        break
else:
    print('Nie ma takiej litery')

Nie ma takiej litery

### while

In [57]:
i = 5
while i < 15:
    print(i)
    i = i + 2

5
7
9
11
13

## Ciekawostka
### list comprehension

In [58]:
# Mo≈ºemy u≈ºywaƒá pƒôtli jak wcze≈õniej
squares = []

for x in range(10):
    squares.append(x ** 2)

    
print(squares)

# Albo u≈ºywaƒá list comprehension:
squares = [x**2 for x in range(10)]

print (squares)

b = [x for x in range(10) if not x%3] # lista liczb podzielnych przez 3 and < 10 

print(b)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 3, 6, 9]

Mo≈ºna sk≈Çadaƒá zbiory i s≈Çowniki.

In [59]:
a = {str(i):i for i in [1,2,3,4,5]} # s≈Çownik
print(a)
a = {x for x in  range(10) } # set
print(a)

{'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Oraz tuple - tylko uwa≈ºaj!

In [60]:
a = (x for x in range(10)) # generatory
print(type(a))
print(next(a))
print(next(a))
b = tuple(x for x in range(10)) # tuple
print(type(b))

<class 'generator'>
0
1
<class 'tuple'>

# TASK TIME! üßô‚Äç

1. Mamy 2 listy,wypisz True je≈õli pierwszy i ostatni element na li≈õcie jest taki sam
2. Zr√≥b listƒô od 1 do 100 i wypisz wszystkie liczby podzielne przez 5
3. Wypisz takƒÖ piramidƒô
<br>
1 
<br>
2 2 
<br>
3 3 3 
<br>
4 4 4 4 
<br>
5 5 5 5 5
<br>

    *Pamiƒôtaj o print (..., end=" ")*
4. Po≈ÇƒÖcz dwie listy tak, ≈ºe do wynikowej listy z pierwszej bƒôdƒÖ liczby nie parzyste, a z drugiej parzyste
<br>
list1 = [15, 22, 23, 17, 19]
<br>
list2 = [24, 43, 24, 36, 11]
<br>
Merged List is
[15, 23, 17, 19, 24, 24, 36]
5. Masz listƒô, policz wystƒÖpienia kolejnych element√≥w i na podstawie tego stw√≥rz s≈Çownik
<br>
list1 = [121, 43, 87, 121, 23, 43, 43, 43, 87]
<br>
dict1 = {121: 2, 43: 4, 87: 2, 23: 1}
6. Unpack a tuple in variables
7. Zamie≈Ñ wszystkie ostatnie warto≈õci w tuple na 99 
<br>
l1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
<br>
result=[(10, 20, 99), (40, 50, 99), (70, 80, 99)]
<br>
8. Mamy listƒô mix[string, int , float ...] , stw√≥rz nowƒÖ listƒô kt√≥ra bƒôdzie mia≈Ça tylko int

## Funkcja

 W Pythonie funkcjƒô definiuje siƒô za pomocƒÖ s≈Çowa kluczowego **def:**

In [61]:
def func():
    print("Hi, dear!")

func()

Hi, dear!

In [62]:
def greet(name):
    """This function greets to the person passed in as parameter"""
    print("Hello, " + name + ". Good morning!")
    
print(greet.__doc__)
greet("Kate")

This function greets to the person passed in as parameter
Hello, Kate. Good morning!

**pozycyjne (nienazwane)**

Argumenty podaje siƒô po nazwie funkcji w nawiasach. Mo≈ºesz dodaƒá dowolnƒÖ liczbƒô argument√≥w, po prostu oddziel je przecinkiem

In [63]:
def func(name):
    return name + " Ref"

a = func("Katty")
print(a)
print(func("Lila"))
print(func("Ewa"))

Katty Ref
Lila Ref
Ewa Ref

**kluczowe (nazwane)**
<br>
Kolejno≈õƒá jest niewa≈ºna

In [64]:
def func(person3, person2, person1):
    print("Imie ryczerza to " + person3)

func(person1 = "Emil", person2 = "Tobias", person3 = "Linus")

Imie ryczerza to Linus

**Default**

In [65]:
def func(x = 1, y = 1):
    outcome = x + y
    print(outcome)

func(x = 100)

101

In [66]:
#nie mo≈ºe byƒá
def greet(msg = "Good morning!", name):
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-66-646b1fb898d1>, line 2)

In [67]:
#poprawna wersja
def gree(name, msg = "Good morming!"):
    pass

**Args** - arbitrary arguments
<br>
Je≈õli nie wiesz, ile argument√≥w zostanie przekazanych do funkcji, dodaj * przed nazwƒÖ parametru w definicji funkcji

In [68]:
def func(*args):
    print(type(args))
    print("Imie ryczerza to " + args[2])

func("Emil", "Tobias", "Linus")

<class 'tuple'>
Imie ryczerza to Linus

**Kwargs** - arbitrary keyword arguments

Je≈õli nie wiesz, ile argument√≥w nazwanych zostanie przekazanych do funkcji, dodaj ** przed nazwƒÖ parametru w definicji funkcji

In [69]:
def func(**places):
    print(type(places))
    print("Jestem z " + places["region"] + " wojew√≥dztwa")

func(city = "Warszawa", region = "≈Å√≥dzkiego")

<class 'dict'>
Jestem z ≈Å√≥dzkiego wojew√≥dztwa

## Mutable vs Immutable

### Z≈Ça wersja

In [70]:
def printing(lista = []):
    lista.append('print')
    for el in lista:
        print(id(lista), el)
        
printing()

2368675607496 print

In [71]:
l = ['nowe s≈Çowo']
print(id(l))
printing(l)

2368675602056
2368675602056 nowe s≈Çowo
2368675602056 print

In [72]:
printing()

2368675607496 print
2368675607496 print

### Dobra wersja

In [73]:
def printing(lista = None):
    print("Przed if: ",id(lista))
    lista = lista if lista else [] # druga opcja lista or []
    print("Po if: ", id(lista))
    lista.append('print')
    for el in lista:
        print(id(lista), el)

In [74]:
printing()

Przed if:  140730750749920
Po if:  2368675678728
2368675678728 print

In [75]:
printing()

Przed if:  140730750749920
Po if:  2368677646024
2368677646024 print

In [76]:
l = ['nowe s≈Çowo']
print("Przed wywo≈Çaniem funkcji: ", id(l))
printing(l)

Przed wywo≈Çaniem funkcji:  2368677253000
Przed if:  2368677253000
Po if:  2368677253000
2368677253000 nowe s≈Çowo
2368677253000 print

# TASK TIME!üßô‚Äç

1. Napisz program, kt√≥ry znajdzie wszystkie takie liczby, kt√≥re sƒÖ podzielne przez 7, ale nie sƒÖ wielokrotno≈õciƒÖ 5,od 2000 do 3200 (w≈ÇƒÖcznie).Otrzymane liczby nale≈ºy wydrukowaƒá w oddzielonej przecinkami sekwencji w jednym wierszu.
2. Napisz funkcjƒô, kt√≥ra oblicza i drukuje warto≈õƒá zgodnie z podanƒÖ formu≈ÇƒÖ: Q = (2 * C * D)/H
<br>
    C - argument nienazwany - integer
<br>
    D - argument nienazwany - integer
<br>
    H - nie wiadomo ile jest argument√≥w nienazwanych(je≈ºeli wiƒôcej ni≈º 1 to zsumowaƒá H1+H2+H3)
<br>
3.Zr√≥b funkcjƒô, przyjmujƒÖcƒÖ listƒô tuple, indeks("i") i warto≈õƒá("w"). Zamie≈Ñ wszystkie warto≈õci na indeksie "i" w tuple na warto≈õƒá ("w")
<br>
l1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
<br>
change(l1,1,77) 
<br>
result=[(10, 77, 40), (40, 77, 60), (70, 77, 90)]
<br>

## Pandas - ma≈Çy wstƒôp

Fajny artyku≈Ç: https://data36.com/pandas-tutorial-1-basics-reading-data-files-dataframes-data-selection/
<br>
Dwa rodzaje tabel:
* Series:
    Series jest to jednowymiarowa struktura danych (‚Äûjednowymiarowa tablica‚Äù), kt√≥ra mo≈ºe przechowywaƒá warto≈õci i dla ka≈ºdej warto≈õci ma tak≈ºe unikalny indeks
* DataFrame:
    DataFrame to dwuwymiarowa (lub wiƒôcej) wymiarowa struktura danych - w zasadzie tabela z wierszami i kolumnami. Kolumny majƒÖ nazwy, a wiersze indeksy.

In [77]:
import pandas as pd

In [78]:
data = pd.read_csv("movies.csv",delimiter = ',')

In [79]:
print(type(data.head()))

<class 'pandas.core.frame.DataFrame'>

In [80]:
display(data.tail())
display(data.head())

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4656,80017265,Movie,Don't Go Breaking My Heart 2,Johnnie To,"Louis Koo, Gao Yuanyuan, Miriam Chin Wah Yeung...","Hong Kong, China","December 1, 2018",2014.0,TV-14,113 min,"Comedies, International Movies, Romantic Movies","Zixin is about to marry Qihong, but her galliv..."
4657,81024716,Movie,Faraar,Baljit Singh Deo,"Kainaat Arora, Jaggi Singh, Gippy Grewal",Australia,"December 1, 2018",2015.0,TV-14,146 min,"Action & Adventure, Dramas, International Movies",When a man is arrested on arrival in America b...
4658,81028939,TV Show,Haunted House,NaN,"Jo Hyun-jung, Gim Young-eun, Gim Chae-ha, I So...",NaN,"December 1, 2018",2017.0,TV-Y7-FV,1 Season,"Kids' TV, Korean TV Shows",With help from a 102-year-old goblin dwelling ...
4659,80106306,Movie,Helios,"Leung Lok Man, Luk Kim-ching","Jacky Cheung, Nick Cheung, Chang Chen, Shawn Y...","Hong Kong, China, United States","December 1, 2018",2015.0,TV-MA,118 min,"Action & Adventure, International Movies",When master criminal Helios steals a mobile WM...
4660,60034549,Movie,Hellboy,Guillermo del Toro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019.0,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016.0,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013.0,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016.0,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017.0,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [81]:
data.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2244,80094386,TV Show,Cain and Abel,NaN,"So Ji-sub, Shin Hyun-joon, Chae Jung-an, Han J...",South Korea,"March 12, 2019",2009.0,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Gifted doctor Cho-in leads a charmed life whil...
1936,80242036,TV Show,Bangkok Love Stories: Hey You!,NaN,"Wanida Termthanaporn, Isariya Patharamanop, No...",NaN,"March 8, 2019",2018.0,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A loving couple become rivals when Belle opens...
3834,70305955,Movie,Dolphin Tale 2,Charles Martin Smith,"Morgan Freeman, Ashley Judd, Harry Connick Jr....",United States,"February 25, 2019",2014.0,PG,107 min,"Children & Family Movies, Dramas","Winter the dolphin, who survived a tragic inju..."
1811,70293703,Movie,Madras Caf√©,Shoojit Sircar,"John Abraham, Nargis Fakhri, Rashi Khanna, Avi...",India,"May 10, 2017",2013.0,NR,128 min,"Dramas, International Movies, Thrillers",An Indian intelligence agent journeys to a war...
2757,60023237,Movie,Y Tu Mam√° Tambi√©n,Alfonso Cuar√≥n,"Maribel Verd√∫, Gael Garc√≠a Bernal, Diego Luna,...",Mexico,"June 1, 2017",2001.0,R,106 min,"Dramas, Independent Movies, International Movies",When rich teens Tenoch and Julio meet the allu...

In [82]:
data[data.title == "Apaches"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azor√≠n, Ver√≥nica Echegui,...",Spain,"September 8, 2017",2016.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...

# TASK TIME!üßô‚Äç

1.  Sprawd≈∫ szczeg√≥≈Çowe informacje o Data Frame
<br>
2. Uzyskaj pierwsze 3 wiersze danych 
<br>
3. Wy≈õwietl kolumny ‚Äûtitle‚Äù i ‚Äûdescription‚Äù 
<br>
4. Wy≈õwietl kolumny "show_id", "country", "data_added" dla wierszy 0,3,6,24
<br>
5. Wy≈õwietl wiersze gdzie release_year > 2010
<br>
6. Wy≈õwietl wiersze, gdzie "director" is NaN
<br>
7. Policz ile jest takich wierszy jak w punkcie 5
<br>
8. Sprawd≈∫ typ kolumny "duration"
<br>
   Sprawd≈∫ co to znaczy
<br>
9. Zmie≈Ñ nazwƒô kolumny title na name
<br>
10. Dodaj nowy wiersz
<br>

# Thanks ! :)